@charset "UTF-8";

@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
*{
	font-family: 'S-CoreDream-4Regular';
}

body#cafeAdmin #content.cont_post {
    width: 840px;
    margin: 33px 0 0 60px;
    padding-bottom: 50px;
}
body#cafeAdmin #content {
    color: #444;
}
#content {
    float: left;
    margin: 33px 0 0 60px;
    padding-bottom: 40px;
    background: #fff;
    width: 840px;
}
dd, div, dl, dt, li, p, table, td, th, ul {
    line-height: 1.6;
}
body, dd, div, dl, dt, li, p, table, td, th, ul {
    padding: 0px;
    margin: 0px;
}
div {
    display: block;
}
body#cafeAdmin #wrap {
    width: 1100px;
    font-size: 12px;
    line-height: 1.4;
    overflow-wrap: break-word;
    text-align: left;
    margin: 0px auto;
}
#content .wrap_tit {
    height: 1%;
}
dd, div, dl, dt, li, p, table, td, th, ul {
    line-height: 1.6;
}
body#cafeAdmin #content {
    color: #444;
}
#content .wrap_tit:after {
    content: "";
    display: block;
    clear: both;
}
#content .cont_tit {
    float: left;
    border: 0;
    height: auto;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#content .tit_menu {
    font-weight: 400;
    font-size: 28px;
    color: rgb(0, 0, 0);
    letter-spacing: -0.5px;
}
.box_search {
    float: right;
    height: 31px;
    margin-top: 4px;
}
.box_search .select_admin {
    float: left;
    border: 1px solid #cfd2d5;
    background: #fff;
}
.checkradio_styled, .selectbox_styled {
    display: none;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.box_search .select_admin>.img_selectbox, .box_search .select_admin>.img_selectbox_press {
    text-indent: 11px;
}
.box_search .select_admin .img_selectbox, .box_search .select_admin .img_selectbox_press {
    height: 32px;
    line-height: 30px;
    text-align: left;
}
.box_search .select_admin .img_selectbox {
    background-position: 100% 13px;
}
.select_admin .img_selectbox {
    background: url(//t1.daumcdn.net/cafe_image/cf_img3/admin_2018/arr_open_180116-2.gif) no-repeat 100% 14px;
}
.select_admin>.img_selectbox, .select_admin>.img_selectbox_press {
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.select_admin .img_selectbox, .select_admin .img_selectbox_press {
    display: block;
    position: relative;
    height: 29px;
    min-width: 0px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    overflow: hidden;
    padding: 0px 30px 0px 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: rgba(0, 0, 0, 0);
    text-decoration: none;
}
a, a:hover {
    color: #000;
}
a {
    letter-spacing: -0.5px;
    font-size: 14px;
    text-decoration: none;
}






