@charset "UTF-8";

@font-face {
	font-family: 'S-CoreDream-4Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'S-CoreDream-4Regular';
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;
}

html {
	font-family: 'S-CoreDream-4Regular';
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
* {
    font-family: 'S-CoreDream-4Regular';
    line-height: 2;
    letter-spacing: -.05em;
    /*color: #4c4c4c;*/
    font-size: 15px;
    max-width: 100%;
}


.head_aticle, .list-description {
	text-align: center;
}

.tit {
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: #333;
	letter-spacing: -.5px;
}

.board-header-container {
	padding-bottom: 20px;
	font-family: 'S-CoreDream-4Regular';
}

.list-description {
	font-family: 'S-CoreDream-4Regular';
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #999;
	margin-bottom: 5px;
}

.list-description li {
	font-family: 'S-CoreDream-4Regular';
	font-weight: 400;
	letter-spacing: 0;
}

ol, ul {
	list-style-type: none;
}

.RecordMain {
	padding: 10px;
	border-radius: 7px;;
	background: #ffffff;
}

.section {
	display: inline-block;
	padding: 20px 0 0;

	/*border-top: 1px solid #ddd;*/
}


label {
	display: inline-block;
	padding: 15px 50px;
	font-weight: 600;
	color: #47597e;
	border: 1px solid transparent;
	width: 50%%;
	text-align: center;
}

/* label:hover {
   color: #617aad;
   cursor: pointer;
} */

/*input 클릭시, label 스타일*/
input, label {
	color: #555;
	border: 1px solid #ddd;
	/*border-top: 2px solid #47597e;
	border-bottom: 1px solid #47597e;*/
}


/* ==================마켓컬리 css */
.order_goods {
	position: relative;
	margin-top: 10px;
	padding: 0 20px;
	border: 1px solid #dddfe1;
}

.page_aticle button, .page_aticle input, .page_aticle select,
	.page_aticle * {
	font-weight: 400;
	letter-spacing: 0;
}

div, th, td, li, dt, dd, p {
	word-break: break-all;
}


ol, ul {
	list-style-type: none;
}



html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.section_orderlist .list_order .order_info {
	overflow: hidden;
	padding: 14px 0 20px;
}

.section_orderlist .list_order .order_status {
	display: table;
	position: absolute;
	right: 20px;
	bottom: 0;
	height: 114px;
	vertical-align: middle;
}
/* 
.name a {
	display: block;
	overflow: hidden;
	background: url(https://res.kurly.com/pc/ico/1806/ico_arrow_10x15.png)
		no-repeat 100% 1px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #000;
	cursor: pointer;
}

.name {
	padding: 20px 0 13px;
	border-bottom: 1px solid #dddfe1;
} */

.order_info {
	overflow: hidden;
	padding: 14px 0 20px;
	/*border: 1px solid;*/
}


.desc {
	overflow: hidden;
	padding-top: 1px;
	margin-left: 20%;
}


.order_info dl {
	overflow: hidden;
	padding-top: 6px;
}

.order_info dt {
	float: left;
	padding-right: 15px;
	font-size: 12px;
	color: #000;
	line-height: 20px;
}

.order_info dd {
	float: left;
	font-size: 14px;
	line-height: 20px;
	/*font-weight: 700;*/
	color: #000;
}

.order_info .end {
	color: #514859;
}

.order_info .status {
	color: #5f0080;
}
.section_review {
/* 	width: 44%;
	margin-left: 13%;
	height: auto;
	margin-bottom: 10px; */
	width: 800px;
    display: inline-block;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    flex: 1;
    margin-left: 1.5%;
}
#change_state_btn{
	height: 30px;
    width: 90px;
	background-color: #617aad;
    color: #fff;
    border:none;
    border-radius: 3px;
}
#change_state_btn:hover{
		height: 30px;
    width: 90px;
	background-color: #9EB7CD;
    border:none;
    border-radius: 3px;
}
